  
{% assign eventdata = page.data %}
{% assign pagedata = site.data.events[eventdata] %}
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark" id="mainNav">
    <a class="navbar-brand js-scroll-trigger text-truncate" title="{{ title }}" href="#page-top">
        <img src="../assets/img/nav-logo.png" alt="" />
        {{ title }}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            {%- for navitem in site.data.eventnav -%}
                {%- if navitem.name == "Schedule" -%}
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="{{ navitem.link }}">{{ navitem.name }}</a>
                    </li>
                    {%- if pagedata.precondescription -%}
                        <li class="nav-item text-truncate">
                            <a class="nav-link js-scroll-trigger" href="#precon">Precon</a>
                        </li>            
                    {%- endif %}    
                {%- else %}
                    <li class="nav-item text-truncate">
                        <a class="nav-link js-scroll-trigger" href="{{ navitem.link }}">{{ navitem.name }}</a>
                    </li>
                {%- endif %}
            {%- endfor %}
            {%- if pagedata.milestones -%}
            <li class="nav-item text-truncate">
                <a class="nav-link js-scroll-trigger" href="#milestones">Milestones</a>
            </li>            
            {%- endif %}      
            {%- if pagedata.venuemap -%}
            <li class="nav-item text-truncate">
                <a class="nav-link js-scroll-trigger" href="#venue">Venue</a>
            </li>            
            {%- endif %}      
            {% if pagedata.sponsor-menuitem and pagedata.sponsor-menuitem == true %}
            <li class="nav-item text-truncate">
                <a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a>
            </li>            
            {%- endif %}  
            {%- if pagedata.codeofconduct -%}
            <li class="nav-item text-truncate">
                    <a class="nav-link js-scroll-trigger" href="#codeofconduct">CoC</a>
            </li>            
            {%- endif %}  
        </ul>
    </div>
</nav>