---
layout: default
---

{% assign eventdata = page.data %}
{% assign pagedata = site.data.events[eventdata] %}

<!-- Masthead-->
<header class="masthead" id="page-top">
  <div class="container">
      {% if pagedata.hide-toplogo != true %}
          <img src="../assets/design/facebook/c.facebook%201r.png" alt="Data Saturdays">
      {% endif %}
      <div class="masthead-heading text-uppercase">{{pagedata.name}}</div>
      <div class="masthead-subheading">{{ pagedata.date | date_to_long_string }}</div>
      <div class="alert alert-light" role="alert">
        {{pagedata.description}}
      </div>
        {% if pagedata.open-registration-new-tab and pagedata.open-registration-new-tab == true %}
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{pagedata.registrationurl}}" target="_blank">Register now</a>
        {% else %}
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{pagedata.registrationurl}}">Register now</a>
        {% endif %}
  </div>
</header>

    <!-- About-->
    {% if pagedata.hide-join-room-section != true %}
      <section class="page-section" id="join">
        <div class="container container-sm">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Rooms</h2>
                <p>
                  {{pagedata.join.description}}
                </p>
                <div class="row justify-content-center">
                    <p>
                      {%- for room in pagedata.join.rooms -%}
                        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger mr-4" target="_blank" href="{{room.url}}">{{room.name}}</a>
                      {%- endfor %}
                  </p>
                </div>
            </div>
        </div>
    </section>
  {% endif %}

  {% if pagedata.precondescription %}
    <!-- Precon -->
    <section class="page-section" id="precon">
      <div class="container">
          <div class="text-left">
              <h2 class="section-heading text-uppercase text-center">Pre-conference workshop</h2>
              <div class="alert alert-light" role="alert">
                <p>
                  {{pagedata.precondescription}}
                </p>
              </div>
  
          </div>
      </div>
    </section>
  {% endif %}





    <!-- Schedule -->
    <section class="page-section" id="schedule">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Schedule</h2>
              <div class="alert alert-light" role="alert">
                {% if pagedata.scheduleurl%}
                  <p>
                      <iframe frameborder="0" STYLE="width: 100%;height:1900px" SRCDOC="<BODY><script type='text/javascript' src='{{pagedata.scheduleurl}}'></script></BODY>">
                      </iframe>
                  </p>
                {% else %}
                <p>
                  The schedule has not been announced yet. If you want to <a href="#speakers" class="js-scroll-trigger">submit your own session</a> you can still do so.
              </p>
                {% endif %}
              </div>
  
          </div>
      </div>
    </section>
 
     
      <!-- Sponsors -->
      <section class="page-section" id="sponsors">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Sponsors</h2>
                    <div class="container">
                      <div class="row justify-content-center"></div>
                      {% if pagedata.sponsors %}
                      {%- for sponsor in pagedata.sponsors -%}
                      {% if sponsor.sponsorlevel %}
                        <p style="text-align:center;font-size:2.5rem;color: dimgrey;margin-top: 35px;"><b>{{sponsor.sponsorlevel}}</b></p>
                      {% endif %}
                        <div class="hero-box mr-4 mt-4 ml-4 align-self-center">
                            <a href="{{sponsor.link}}">
                                <img src="{{sponsor.image}}" height="{{sponsor.height}}"/>
                            </a>
                        </div>
                    {%- endfor %}
                    {% endif %}
      
                        </div>
                        <div class="row justify-content-center">
                            <div CLASS="mt-5">
                                If you want to sponsor this event <a href="#contact">get in touch with the organizers</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
      </section>
    
        <!-- Speakers -->
    
        <section class="page-section" id="speakers">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">Speakers</h2>
                  <div class="alert alert-light" role="alert">
                      <p>
                        {% if pagedata.callforspeakers == false %}
                          <script type="text/javascript" src="{{pagedata.speakerlisturl}}"></script>   
                        {% else %}
                          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{pagedata.speakerlisturl}}">Submit your session</a>
                        {% endif %}                         
                      </p>
                  </div>
              </div>
          </div>
        </section>

        <!--Volunteers-->
        {% if pagedata.volunteerrequesturl %}
        <section class="page-section" id="volunteers">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">Volunteers</h2>
                  <div class="alert alert-light" role="alert">
                      <p>
                          Volunteers are important to ensure the event runs smoothly. If you would like to help, <a href="{{ pagedata.volunteerrequesturl }}">submit your name as a volunteer.</a>
                      </p>
                  </div>
              </div>
          </div>
      </section>
      {% endif %}

          <!-- Code of conduct -->
          {% if pagedata.codeofconduct%}
          <section class="page-section" id="codeofconduct">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Code of Conduct</h2>
                    <div class="alert alert-light" role="alert">
                      {{pagedata.codeofconduct}}
                    </div>
                </div>
            </div>
          </section>
          {% endif %}

          <!-- Contact -->
      
        <section class="page-section" id="contact">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">Contact</h2>
                  {%- for organiser in pagedata.organizers -%}
                  <div class="alert alert-light" role="alert">
                      <p>
                          <b>Organizer:</b> {{organiser.name}}
                          <a class="btn btn-dark btn-social mx-2" href="{{organiser.twitter}}"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-dark btn-social mx-2" href="{{organiser.email}}"><i class="far fa-envelope"></i></a>
                      </p>
                  </div>
                  {%- endfor %}
              </div>
          </div>
        </section>
      